 body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

h2{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="date"] {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
}
input[type="submit"],
input[type="button"]{
    margin: 10px 0;
    padding: 8px;
}

#submit,
#vde {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#vde {
    background-color: #008CBA;
}

#submit:hover,
#vde:hover {
    background-color: #45a049;
}
